@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html{
        font-family:raleway;
        color: black;
       
        background-color: #F2F5F9;
    }
    h1{
        font-family:poppins;
    }

    h2{
        font-family:poppins;
    }

    h3{
        font-family:poppins;
    }

}

.work-expertise{
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #E1E8EF;
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0.24px;
}

.tombollinier{
border: 1px solid;
border-image-source: linear-gradient(180deg, #FD8A18 0%, #EE2C0B 100%);
}
.terlihat{ 
    margin-top:22.34px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: #F2F5F9;
    margin-bottom: 66px;
    justify-content: center;
}



